.body-wrapper {
    width: 100%;
}


body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(228, 228, 228);
}


* {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    /* color: rgb(106, 106, 106); */

}

input:focus {
    outline: none;
    padding-left: 4%;
}