
.body-wrapper {
    width: 100%;
}


body {
    display: flex; 
    justify-content: center;
    margin: 0;
}

.nav-div {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #ffffff; 
    border-top: 1px solid #cccccc; 
    z-index: 1000; 
}


* {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(106, 106, 106);
}