<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./settings-files/css/template-styles.css">
    <style>
        .highlightedBorder {
          border: 2px solid {{ accentsColor }};
        }
      </style>
</head>

<body>
    <div  class="nav-div" style="background-color: {{ navBackgroundColor }};" ng-include="'./nav-bar.html'"></div>
    <div class="flex flex-col mb-24">
        <div class="sm:mt-28 sm:mb-32">
            <div style="color: {{ navFontColor }};">
                <h1 class="text-3xl flex justify-center mt-8 sm:text-6xl lg:text-5xl">Settings</h1>
            </div>
        </div>
        <div class="flex justify-center">
            <div class="sections w-3/4 flex flex-col gap-6">
                <div class="flex flex-col">
                    <div class="mb-2 sm:mb-8 sm:text-5xl lg:text-4xl md:text-4xl">
                        <h2 style="color: {{ navFontColor }};"><b>Accents</b></h2>
                    </div>
                    <div style="border: 1.5px solid {{ accentsColor }};  border-left: none; border-right: none;  background-color: white;">
                        <div class="ml-4 mt-4 mb-4 sm:mb-16 sm:mt-16 sm:ml-8 flex flex-col sm:text-5xl lg:text-3xl md:text-3xl">
                            <button ng-click="toggleAccents('#cccccc')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: #cccccc; border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Default</p>
                                </div>
                            </button>
                            <button ng-click="toggleAccents('hotpink')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: hotpink; border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Hot Pink</p>
                                </div>
                            </button>
                            <button ng-click="toggleAccents('cyan')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: cyan; border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Cyan</p>
                                </div>
                            </button>
                            <button ng-click="toggleAccents('yellow')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: yellow; border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Neon Yellow</p>
                                </div>
                            </button>
                            <button ng-click="toggleAccents('orange')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: orange; border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Orange</p>
                                </div>
                            </button>
                            <button ng-click="toggleAccents('rgb(246, 164, 205)')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: rgb(246, 164, 205); border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Baby Pink</p>
                                </div>
                            </button>
                            <button ng-click="toggleAccents('rgb(161, 201, 243)')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: rgb(161, 201, 243); border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Baby Blue</p>
                                </div>
                            </button>
                            <button ng-click="toggleAccents('rgb(255, 255, 170)')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: rgb(255, 255, 170); border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Pastel Yellow</p>
                                </div>
                            </button>
                            <button ng-click="toggleAccents('rgb(255, 215, 142)')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: rgb(255, 215, 142); border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Orange Cream</p>
                                </div>
                            </button>







                        </div>
                    </div>
                </div>

                <div>
                    <div class="mb-2 sm:mb-8 sm:text-5xl lg:text-4xl md:text-4xl">
                        <h2 style="color: {{ navFontColor }};"><b>Backgrounds</b></h2>
                    </div>
                    <div style="border: 1.5px solid {{ accentsColor }}; border-left: none; border-right: none; background-color: white;">
                        <div class="ml-4 mt-4 mb-4 sm:ml-8 sm:mt-16 sm:mb-16 flex flex-col sm:text-5xl lg:text-3xl md:text-3xl">
                            <button ng-click="toggleBackgroundColor('whitesmoke')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: whitesmoke; border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Default</p>
                                </div>
                            </button>
                            <button ng-click="toggleBackgroundColor('rgb(246, 164, 205)')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: rgb(246, 164, 205); border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Baby Pink</p>
                                </div>
                            </button>
                            <button ng-click="toggleBackgroundColor('rgb(161, 201, 243)')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: rgb(161, 201, 243); border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Baby Blue</p>
                                </div>
                            </button>
                            <button ng-click="toggleBackgroundColor('rgb(255, 255, 170)')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: rgb(255, 255, 170); border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Pastel Yellow</p>
                                </div>
                            </button>
                            <button ng-click="toggleBackgroundColor('rgb(255, 215, 142)')">
                                <div class="flex gap-2">
                                    <div
                                        style="height: 16px; width: 16px; background-color: rgb(255, 215, 142); border-radius: 50%; margin-top: 0.5%;">
                                    </div>
                                    <p class="sm:-mt-1 md:-mt-1.5">Orange Cream</p>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="mb-2 sm:mb-8 sm:text-5xl lg:text-4xl md:text-4xl">
                        <h3 style="color: {{ navFontColor }};"><b>Display</b></h3>
                    </div>
                    <div style="border: 1.5px solid {{ accentsColor }}; border-left: none; border-right: none; background-color: white;">
                        <div class="ml-4 mt-6 mb-4 sm:mb-16 sm:mt-12 sm:ml-8 sm:text-5xl lg:text-3xl md:text-3xl">
                            <div class="flex gap-4">
                                <div>
                                    <button ng-click="lightMode()">
                                    <div style="border: 0.2px solid {{  accentsColor }}; background-color: whitesmoke; color: black; width: 60px; height: 70px; padding-top: 10px; padding-bottom: 10px; padding-left: 5px; padding-right: 5px;  border-left: none; border-right: none;"><span class="material-symbols-outlined" style="font-size: 50px;">light_mode</span></div>
                                    <div class="mt-2">Day</div>
                                    </button>
                                </div>
                                <div>
                                    <button ng-click="darkMode()">
                                    <div style="border: 0.2px solid {{  accentsColor }}; background-color: black; color: white; width: 60px; height: 70px; padding-top: 10px; padding-bottom: 10px; padding-left: 5px; padding-right: 5px;  border-left: none; border-right: none;"><span class="material-symbols-outlined" style="font-size: 50px;">dark_mode</span></div>
                                    <div class="mt-2">Night</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>