<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div>
        <nav style="border-top: 1px solid {{accentsColor}};">
            <ul class="flex justify-around pt-4 pb-4">
                <li><a ng-href="#!home" ng-click="toggleInputFieldOn()"><span class="material-symbols-outlined"
                            style="font-size: 40px; color: {{ navFontColor  }};">search</span></a></li>
                <li><a ng-href="#!settings" ng-click="toggleInputFieldOff()"><span class="material-symbols-outlined"
                            style="font-size: 40px; color: {{ navFontColor  }};">palette</span></a></li>
            </ul>
        </nav>
    </div>

</body>

</html>