.container {
margin-top: 10%;
}



input {
    height: 10vh;
    width: 100%;
}


.input-button-div {
    display: flex;
    justify-content: center;
    position: fixed;
    transform: translateY(-115%);
    bottom:0;
    left:0;
   width: 100%;
}

.input-div {
    width: 100%;
}

.button-div {
  width: 10%;
}
button {
    width: 100%;
}