.container {
    margin-top: 10%;
}



input {
    height: 10vh;
    width: 100%;
}


.input-button-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-div {
    width: 100%;
}

.button-div {
    width: 10%;
}

button {
    width: 100%;
}

.greeting {
    font-size: 250%;
}

@media screen and (max-width: 600px) {
    .greeting {
        font-size: 380%;

    }
}