<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./home-files/css/components-styles.css">
</head>

<body>
    <div class="buttons-container flex gap-4">
        <div class="flex flex-col gap-4">
            <div><button class="border border-gray-300 pt-4 pb-4 pl-8 pr-8 text-2xl rounded" ng-click="toDoButton()">To Do List</button></div>
            <div><button class="border border-gray-300 pt-4 pb-4 pl-8 pr-8 text-2xl rounded"  ng-click="calenderButton()">Calendar</button></div>
        </div>
        <div class="flex flex-col gap-4">
            <div><button class="border border-gray-300 pt-4 pb-4 pl-8 pr-8 text-2xl rounded"  ng-click="notesButton()">Notes</button></div>
            <div><button class="border border-gray-300 pt-4 pb-4 pl-8 pr-8 text-2xl rounded"  ng-click="composeEmailButton()">Compose Email</button></div>
        </div>
    </div>
</body>

</html>